.container-fluid {
    background-color: rgba(62, 92, 243, 0.913);
    
}


.container-fluid a {
    color: gold;
}

/* Home Page */
#home_page h2 {
    text-align: center;
}

#pokemon_logo {
    display: block;
    width: 70vw;
    margin: 0 auto;
}

#pokeball {
    display: block;
    width: 30vw;
    margin: 0 auto;
}


/* Pokemon Page */
.mb-3 {
    display: flex;
    flex-direction: column;
}

.pokemon_input_field {
    border: 1px solid lightgrey;
    border-radius: 6px;
    width: 470px;
    height: 37px;
    margin-bottom: 12px;
}

.submit_btn {
    border-radius: 6px;
    width: 75px;
    height: 37px;
    background-color: rgba(62, 92, 243, 0.913);
    color: gold;
    font-weight: bold;
}



#card_container {
    border: 15px solid gold;
    border-radius: 10px;
    width: 285px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    background-image: url("../images/tie_dye.webp");
    font-family: sans-serif;
}


#name_xp {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 190px;
    height: 22px;
    margin: 0 auto;
    margin-top: 15px;
}


#pokemon {
    display: inline-block;
    margin-right: 4px;
    font-size: 18px;
    font-weight: bold;
}

#xp {
    display: inline-block;
    color: red;
    font-weight: bold;
}

#sprite {
    border: 4px solid gold;
    border-radius: 5px;
    width: 190px;
    height: 175px;
    background-color: lightgoldenrodyellow;
    object-fit: cover;
}


#abilities_container {
    margin-top: 15px;
    height: 125px;
}

.ability_info {
    display: block;
    font-size: 14px;
    margin: 0;

}

.ability_num p {
    display: block;
    font-size: 14px;
    margin: 0;
    height: 24px;
    font-size: large;
}


hr {
    width: 90%;
    opacity: 100%;
    border: 1px solid black;
    margin: 15px;
}


.ability_name {
    font-weight: bold;
}


/* Login Page */
#login_container {
    border: 10px solid rgb(41, 41, 169);
    border-radius: 10px;
    width: 300px;
    height: 375px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgb(101, 145, 199);
}


#login_heading {
    text-align: center;
    margin: 30px 10px 10px 10px;
    color: rgb(244, 233, 173);
    font-size: 35px;
}


#login_form {
    display: flex;
    flex-direction: column;
    padding: 30px 10px 10px 10px;
}


.input_field {
    margin-bottom: 20px;
    background-color: rgb(244, 233, 173);
}

#login_btn {
    width: 75px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 6px;
    background-color: rgb(41, 41, 169);
    color: gold;
    font-weight: bold;
}


/* Sign Up Page */
#signup_container {
    border: 5px solid rgb(41, 41, 169);
    border-radius: 10px;
    width: 350px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    color: rgb(41, 41, 169);
    background-color: rgb(244, 242, 231);
}


#signup_heading {
    margin: 10px;
    text-align: center;
}

#signup_form {
    display: flex;
    flex-direction: column;
    padding: 15px 20px 5px 20px;
}


.signup_input {
    margin: 10px 0 20px 0;
}

#signup_btn {
    margin: 0 auto;
    margin-top: 20px;
    width: 75px;

    border-radius: 6px;
    height: 37px;
    background-color: rgb(41, 41, 169);
    color: gold;
    font-weight: bold;
}