/* All Pages */
.container-fluid {
    background-color: rgba(23, 89, 195, 0.906);
    
}

.container-fluid a {
    color: gold;
}

#home_tab {
    text-decoration: none;
    color: lightgrey;
    font-weight: bold;
}

#current_user {
    color: gold;
}

#logout_btn {
    width: 80px;
    height: 30px;
    padding: 2px 0;
    background-color: gold;
    color: rgba(23, 89, 195, 0.906);
    font-weight: bold;
}

#logout_btn:hover {
    background-color: rgb(224, 190, 0);
}

@media screen and (min-width: 992px) {
    #logout_btn {
        margin: 5px 0 0 5px;
    }
    .navbar-nav {
        padding-top: 11px;
    }
}

#login_tab {
    margin-bottom: 10px;
}

#signup_tab {
    margin-bottom: 10px;
}

body {
    background-image: linear-gradient(white, rgba(23, 89, 195, 0.906));
    height: 1000px;
}




/* Home Page */
#home_page h2 {
    text-align: center;
}

#pokemon_logo {
    display: block;
    width: 70vw;
    margin: 0 auto;
}

#pokeball {
    display: block;
    width: 30vw;
    margin: 0 auto;
}

@media screen and (min-width: 800px) {
    #pokemon_logo {
        width: 563px;
    }
    #pokeball {
        width: 241px;
    }
}



/* Search Users Page */
#users_heading {
    margin: 20px 0 50px 40px;
    font-size: 30px;
}

.user_container {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 210px;
    height: 75px;
    padding: 15px;
    margin: 0 0 30px 95px;
    background-color: rgba(23, 89, 195, 0.583);
}

.user_container p {
    margin: 0;
    font-weight: bold;
}

#user_battle_btn {
    background-color: rgb(189, 47, 47);
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 black;
}

#user_battle_btn:hover {
    background-color: rgb(164, 40, 40);
}



/* Battle Page */
#pokemon_vs_container {
    background-image: url('/static/images/battle_ground.jpeg');
    background-size: cover;
    border-radius: 10px;
    padding: 20px 0;
    width: 480px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    padding: 50px 0;
    position: relative;
}

#vs_text {
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 180px 0;
}

#vs_text h1 {
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 1px white;
}

.pokemon_info {
    display: inline-block;
    text-align: center;
    margin: 0 20px;
}

#home_sprite {
    transform: scaleX(-1);
    width: 175px;
}

#away_sprite {
    width: 175px;
}

.pokemon_info img {
    width: 197px;
    margin: 9px;
}

.pokemon_info h3 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 25px;
}

.pokemon_info h6 {
    font-size: 16px;
}

.pokemon_info p {
    background-color: lightblue;
    border-radius: 10px;
    font-size: 22px;
    border: 2px solid black;
    width: 150px;
    margin: 0 auto;
}

#battle_btn_container {
    text-align: center;
    margin-top: 20px;
}

#battle_btn {
    background-color: rgb(177, 2, 2);
    color: lightgrey;
    font-weight: bold;
    font-size: larger;
    height: 50px;
    width: 130px;
    border-radius: 5px;
}




#players_container {
    display: flex;
    justify-content: space-between;
    width: 340px;
    margin: 0 auto;
}

.player_box {
    background-color: rgba(23, 89, 195, 0.583);
    display: inline-block;
    width: 100px;
    height: 53px;
    text-align: center;
    border-radius: 5px;
}

.player_label {
    color: rgb(18, 18, 61);
    font-weight: bold;
    margin: 0;
}


@media screen and (min-width: 950px) {
    #players_container {
        width: 540px;
    }
    
    #pokemon_vs_container {
        width: 900px;
    }

    .pokemon_info {
        margin: 0 80px;
    }

    #vs_text {
        padding: 210px 0;
    }

    #vs_text h1 {
        font-size: 70px;
        text-shadow: 3px 3px 1px white;
    }

    #home_sprite {
        width: 250px;
    }
    
    #away_sprite {
        width: 250px;
    }

    .pokemon_info p {
        font-size: 28px;
        width: 200px;
    }

    .pokemon_info h3 {
        font-size: 30px;
    }

    .pokemon_info h6 {
        font-size: 19px;
    }
}





/* Pokemon Page */
#pokemon_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 0 auto;
    margin-top: 30px;
}

#pokemon_label {
    color: rgba(23, 89, 195, 0.906);
    font-size: larger;
    margin-right: 225px;
}

.pokemon_input_field {
    border-radius: 30px;
    width: 400px;
    height: 45px;
    margin: 5px 0 20px 0;
    padding-left: 18px;
    font-size: larger;
}

.submit_btn {
    border-radius: 6px;
    width: 110px;
    height: 37px;
    background-color: rgba(23, 89, 195, 0.906);
    color: gold;
    font-weight: bold;
}

.submit_btn:hover {
    background-color: rgba(20, 68, 144, 0.906);
}


#card_container {
    border: 15px solid gold;
    border-radius: 10px;
    width: 285px;
    height: 400px;
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
    background-image: url("../images/tie_dye.webp");
    font-family: sans-serif;
    box-shadow: 5px 5px 10px 10px;
}

#name_xp {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 190px;
    height: 22px;
    margin: 0 auto;
    margin-top: 15px;
}

#pokemon {
    display: inline-block;
    margin-right: 4px;
    font-size: 18px;
    font-weight: bold;
}

#hp {
    display: inline-block;
    color: red;
    font-weight: bold;
}

#sprite {
    border: 4px solid gold;
    border-radius: 5px;
    width: 190px;
    height: 175px;
    background-color: lightgoldenrodyellow;
    object-fit: cover;
}

#abilities_container {
    margin-top: 15px;
    height: 125px;
}

.ability_info {
    display: block;
    font-size: 14px;
    margin: 0;

}

.battle_stat_box p {
    display: block;
    font-size: 14px;
    margin: 0;
    height: 24px;
    font-size: large;
}

hr {
    width: 90%;
    opacity: 100%;
    border: 1px solid black;
    margin: 15px;
}

.attack_defense {
    font-weight: bold;
}

.catch_remove_container {
    text-align: center;
    padding: 24px;
}

#remove_btn {
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 12px;
    width: 170px;
    height: 37px;
    background-color: rgb(160, 22, 22);
    color: white;
    font-weight: bold;
}

#remove_btn:hover {
    background-color: rgb(127, 19, 19);
}

#catch_btn {
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 12px;
    width: 80px;
    height: 37px;
    background-color: green;
    color: white;
    font-weight: bold;
}

#catch_btn:hover {
    background-color: rgb(1, 104, 1);
}




/* Team Page */
#team_heading {
    border: none;
    display: inline-block;
    margin: 30px 0 0 135px;
    width: 170px;
    height: 58px;
    padding: 10px 0;
    text-align: center;
    background-color: rgba(23, 89, 195, 0.906);
    color: lightgrey;
    border-radius: 10px;
    font-size: 29px;
}

#team_container {
    padding: 40px;
}

#card_btn_container {
    display: inline-block;
    text-align: center;
}

#team_card {
    display: block;
    border: 15px solid gold;
    border-radius: 10px;
    width: 285px;
    height: 400px;
    margin: 36px 36px 24px 36px;
    margin-top: 60px;
    text-align: center;
    background-image: url("../images/tie_dye.webp");
    font-family: sans-serif;
    box-shadow: 5px 5px 10px 10px;
}

#team_remove_btn {
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 12px;
    width: 100px;
    height: 37px;
    background-color: rgb(160, 22, 22);
    color: white;
    font-weight: bold;
}

#team_remove_btn:hover {
    background-color: rgb(134, 22, 22);
}


/* Login Page */
#login_container {
    border: 10px solid rgba(23, 89, 195, 0.906);
    border-radius: 10px;
    width: 460px;
    height: 410px;
    margin: 0 auto;
    margin-top: 80px;
    background-color: rgb(139, 167, 201);
}


#login_heading {
    text-align: center;
    margin: 30px 10px 10px 10px;
    color: rgba(223, 231, 241, 0.906);
    font-size: 45px;
}


#login_form {
    display: flex;
    flex-direction: column;
    padding: 30px 10px 10px 10px;
}

#login_form label {
    color: rgba(23, 89, 195, 0.906);
    font-size: large;
    font-weight: bold;
    margin-left: 25px;
}

.input_email_field {
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: rgba(223, 231, 241, 0.906);
    border: none;
    border-radius: 30px;
    padding-left: 13px;
    height: 35px;
    width: 400px;
}

.input_pwd_field {
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: rgba(223, 231, 241, 0.906);
    border: none;
    border-radius: 30px;
    padding-left: 13px;
    height: 35px;
    width: 400px;
    font-size: x-large;
    font-weight: bold;
}


form.password.input_field {
    color: red;
    font-size: x-large;
    font-weight: bold;
}


#login_btn {
    width: 100px;
    height: 35px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 6px;
    background-color: rgba(23, 89, 195, 0.906);
    color: gold;
    font-weight: bold;
    font-size: larger;
}


#signin_error {
    color: rgb(123, 0, 0);
    font-weight: bold;
    text-align: center;
    margin: 10px;
}


/* Sign Up Page */
#signup_container {
    border: 5px solid rgba(23, 89, 195, 0.906);
    border-radius: 10px;
    width: 430px;
    height: 620px;
    margin: 0 auto;
    margin-top: 50px;
    color: rgba(23, 89, 195, 0.906);
    background-color: rgba(223, 231, 241, 0.906);
}


#signup_heading {
    margin: 10px;
    text-align: center;
    font-size: 30px;
}


#signup_form label {
    margin-left: 15px;
}

#signup_form {
    display: flex;
    flex-direction: column;
    padding: 15px 20px 5px 20px;
}


.signup_input {
    margin: 5px 0 25px 0;
    border: none;
    border-radius: 30px;
    height: 40px;
    padding-left: 18px;
}

#signup_btn {
    margin: 0 auto;
    margin-top: 10px;
    width: 95px;
    border-radius: 6px;
    height: 37px;
    background-color: rgba(23, 89, 195, 0.906);
    color: gold;
    font-weight: bold;
}


#signup_error {
    color: rgb(123, 0, 0);
    font-weight: bold;
    text-align: center;
    margin: 10px;
}