/* All Pages */
.container-fluid {
    background-color: rgba(23, 89, 195, 0.906);
    
}

.container-fluid a {
    color: gold;
}

#home_tab {
    text-decoration: none;
    color: lightgrey;
    font-weight: bold;
}

#current_user {
    color: gold;
}

#logout_btn {
    width: 80px;
    height: 30px;
    padding: 2px 0;
    background-color: gold;
    color: rgba(23, 89, 195, 0.906);
    font-weight: bold;
}

#logout_btn:hover {
    background-color: rgb(224, 190, 0);
}

@media screen and (min-width: 992px) {
    #logout_btn {
        margin: 5px 0 0 5px;
    }
    .navbar-nav {
        padding-top: 11px;
    }
}

#login_tab {
    margin-bottom: 10px;
}

#signup_tab {
    margin-bottom: 10px;
}

body {
    background-image: linear-gradient(white, rgba(23, 89, 195, 0.906));
    height: 1000px;
}




/* Home Page */
#home_page h2 {
    text-align: center;
}

#pokemon_logo {
    display: block;
    width: 70vw;
    margin: 0 auto;
}

#pokeball {
    display: block;
    width: 30vw;
    margin: 0 auto;
}

@media screen and (min-width: 800px) {
    #pokemon_logo {
        width: 563px;
    }
    #pokeball {
        width: 241px;
    }
}




/* Pokemon Page */
#pokemon_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 0 auto;
    margin-top: 30px;
}

#pokemon_label {
    color: rgba(23, 89, 195, 0.906);
    font-size: larger;
    margin-right: 225px;
}

.pokemon_input_field {
    border-radius: 30px;
    width: 400px;
    height: 45px;
    margin: 5px 0 20px 0;
    padding-left: 18px;
    font-size: larger;
}

.submit_btn {
    border-radius: 6px;
    width: 110px;
    height: 37px;
    background-color: rgba(23, 89, 195, 0.906);
    color: gold;
    font-weight: bold;
}




#card_container {
    border: 15px solid gold;
    border-radius: 10px;
    width: 285px;
    height: 400px;
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
    background-image: url("../images/tie_dye.webp");
    font-family: sans-serif;
    box-shadow: 5px 5px 10px 10px;
}

#name_xp {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 190px;
    height: 22px;
    margin: 0 auto;
    margin-top: 15px;
}

#pokemon {
    display: inline-block;
    margin-right: 4px;
    font-size: 18px;
    font-weight: bold;
}

#hp {
    display: inline-block;
    color: red;
    font-weight: bold;
}

#sprite {
    border: 4px solid gold;
    border-radius: 5px;
    width: 190px;
    height: 175px;
    background-color: lightgoldenrodyellow;
    object-fit: cover;
}

#abilities_container {
    margin-top: 15px;
    height: 125px;
}

.ability_info {
    display: block;
    font-size: 14px;
    margin: 0;

}

.battle_stat_box p {
    display: block;
    font-size: 14px;
    margin: 0;
    height: 24px;
    font-size: large;
}

hr {
    width: 90%;
    opacity: 100%;
    border: 1px solid black;
    margin: 15px;
}

.attack_defense {
    font-weight: bold;
}

.catch_remove_container {
    text-align: center;
    padding: 24px;
}

#remove_btn {
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 12px;
    width: 170px;
    height: 37px;
    background-color: rgb(160, 22, 22);
    color: white;
    font-weight: bold;
}

#catch_btn {
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 12px;
    width: 80px;
    height: 37px;
    background-color: green;
    color: white;
    font-weight: bold;
}




/* Team Page */
#team_heading {
    border: none;
    display: inline-block;
    margin: 30px 0 0 135px;
    width: 170px;
    height: 58px;
    padding: 10px 0;
    text-align: center;
    background-color: rgba(23, 89, 195, 0.906);
    color: lightgrey;
    border-radius: 10px;
    font-size: 29px;
}

#team_container {
    padding: 40px;
}

#card_btn_container {
    display: inline-block;
    text-align: center;
}

#team_card {
    display: block;
    border: 15px solid gold;
    border-radius: 10px;
    width: 285px;
    height: 400px;
    margin: 36px 36px 24px 36px;
    margin-top: 60px;
    text-align: center;
    background-image: url("../images/tie_dye.webp");
    font-family: sans-serif;
    box-shadow: 5px 5px 10px 10px;
}

#team_remove_btn {
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 12px;
    width: 100px;
    height: 37px;
    background-color: rgb(160, 22, 22);
    color: white;
    font-weight: bold;
}


/* Login Page */
#login_container {
    border: 10px solid rgba(23, 89, 195, 0.906);
    border-radius: 10px;
    width: 460px;
    height: 410px;
    margin: 0 auto;
    margin-top: 80px;
    background-color: rgb(139, 167, 201);
}


#login_heading {
    text-align: center;
    margin: 30px 10px 10px 10px;
    color: rgba(223, 231, 241, 0.906);
    font-size: 45px;
}


#login_form {
    display: flex;
    flex-direction: column;
    padding: 30px 10px 10px 10px;
}

#login_form label {
    color: rgba(23, 89, 195, 0.906);
    font-size: large;
    font-weight: bold;
    margin-left: 25px;
}

.input_email_field {
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: rgba(223, 231, 241, 0.906);
    border: none;
    border-radius: 30px;
    padding-left: 13px;
    height: 35px;
    width: 400px;
}

.input_pwd_field {
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: rgba(223, 231, 241, 0.906);
    border: none;
    border-radius: 30px;
    padding-left: 13px;
    height: 35px;
    width: 400px;
    font-size: x-large;
    font-weight: bold;
}


form.password.input_field {
    color: red;
    font-size: x-large;
    font-weight: bold;
}


#login_btn {
    width: 100px;
    height: 35px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 6px;
    background-color: rgba(23, 89, 195, 0.906);
    color: gold;
    font-weight: bold;
    font-size: larger;
}


#signin_error {
    color: rgb(123, 0, 0);
    font-weight: bold;
    text-align: center;
    margin: 10px;
}


/* Sign Up Page */
#signup_container {
    border: 5px solid rgba(23, 89, 195, 0.906);
    border-radius: 10px;
    width: 430px;
    height: 620px;
    margin: 0 auto;
    margin-top: 50px;
    color: rgba(23, 89, 195, 0.906);
    background-color: rgba(223, 231, 241, 0.906);
}


#signup_heading {
    margin: 10px;
    text-align: center;
    font-size: 30px;
}


#signup_form label {
    margin-left: 15px;
}

#signup_form {
    display: flex;
    flex-direction: column;
    padding: 15px 20px 5px 20px;
}


.signup_input {
    margin: 5px 0 25px 0;
    border: none;
    border-radius: 30px;
    height: 40px;
    padding-left: 18px;
}

#signup_btn {
    margin: 0 auto;
    margin-top: 10px;
    width: 95px;
    border-radius: 6px;
    height: 37px;
    background-color: rgba(23, 89, 195, 0.906);
    color: gold;
    font-weight: bold;
}


#signup_error {
    color: rgb(123, 0, 0);
    font-weight: bold;
    text-align: center;
    margin: 10px;
}