{% extends 'base.html' %}

{% block title %}
    Pokemon Stats
{% endblock %}
    {% block content %}
    <!-- User inputs pokemon name -->
    <form method="POST" id="pokemon_form">
      {{ form.hidden_tag() }}
      <label for="Pokemon Name" id="pokemon_label">Pokemon Name:</label>
      {{ form.pokemon_name(class_="pokemon_input_field") }}
      {{ form.submit_btn(class_="submit_btn") }}
    </form>
    <!-- Show pokemon card -->
    {% if pokemon_dict %}
    <div id="card_container">
      <div id="name_xp">
          {% if pokemon_dict['name']|length > 8 %}
            <h3 id="pokemon" style="font-size: 17px;">{{pokemon_dict['name'].title()}}</h3>
          {% else %}
            <h3 id="pokemon">{{pokemon_dict['name'].title()}}</h3>
          {% endif %}
          <p id="hp">{{pokemon_dict['hp']|string + ' HP'}}</p>
      </div>
      <img src="{{ pokemon_dict['sprite'] }}" id="sprite">
      <div id="abilities_container">
          <div class="battle_stat_box">
              <p>Attack:</p>
              <p class="attack_defense">{{pokemon_dict['attack']}}</p>
          </div>
          <hr>
          <div class="battle_stat_box">
              <p>Defense:</p>
              <p class="attack_defense">{{pokemon_dict['defense']}}</p>
          </div>
      </div>
    </div>
    {% if caught_flag == True %}
      <div class="catch_remove_container">
        <a href="{{ url_for('main.remove_pokemon', pokemon_id=pokemon_dict['id']) }}"><button id="remove_btn">Remove from Team</button></a>
      </div>
    {% else %}
      <div class="catch_remove_container">
        <a href="{{ url_for('main.catch_pokemon', pokemon_id=pokemon_dict['id']) }}"><button id="catch_btn">Catch</button></a>
      </div>
    {% endif %}

    {% endif %}
    {% endblock %}